body {
    font-family: "Mona Sans", sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.split {
    justify-content: space-between;
}

.t1 {
    font-size: 2em;
    font-weight: bold;
}

.t3 {
    font-size: 1.25em;
    font-weight: bold;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.click {
    cursor: pointer;
}

button:hover, .click:hover {
    background-color: aliceblue;
}

button:disabled, .click:disabled {
    cursor: default;
}

.active {
    font-weight: bold;
}
