body {
    font-family: "Mona Sans", sans-serif;
}

.main {
    margin: 60px auto 0;
    width: 80%;
    min-width: 400px;
    max-width: 2000px;
}

.h-1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.v-stack {
    display: flex;
    flex-direction: column;
}

.h-stack {
    display: flex;
    flex-direction: row;
}

.gap-16 {
    gap: 16px;
}

.gap-32 {
    gap: 32px;
}
