body {
    font-family: "Mona Sans", sans-serif;
}

.main {
    margin: 60px auto 0;
    width: 80%;
    min-width: 400px;
    max-width: 2000px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.gap16 {
    gap: 16px;
}
