body {
    font-family: "Mona Sans", sans-serif;
}

button {
    height: 24px;
    max-width: 256px;
}

input {
    height: 24px;
}

.main {
    margin: 60px auto 0;
    width: 80%;
    min-width: 400px;
    max-width: 2000px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.naked {
    background-color: transparent;
    border: none;
}