body {
    font-family: "Mona Sans", sans-serif;
}

button {
    height: 24px;
    max-width: 256px;
    background-color: transparent;
    border: black 2px solid;
    border-radius: 4px;
    cursor: pointer;
}

input {
    height: 24px;
    border: dimgray 2px solid;
    border-radius: 4px;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gap-8 {
    gap: 8px;
}

.gap-16 {
    gap: 16px;
}

.naked {
    background-color: transparent;
    border: none;
}

.click {
    cursor: pointer;
}

.click:hover {
    background-color: lightgrey;
}

button:hover {
    background-color: lightgrey;
}
